<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Datos familiares</title>
</head>
<body>
    
    Miembros Familiares
    <ul>
        {% for familiar in ListaFamiliar %}
            <li>
                
                {{familiar}}
                
            </li>
        {% endfor %}

    </ul>
    
    <li>{{name}}</li>
    <li>{{apellido}}</li>
    <li>{{edad}}</li>
    <li>{{fecha}}</li>


</body>
</html>