<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Datos familiares</title>
</head>
<body>
    
    
    <ul>
        <table border="1">
            <caption>Miembros Familiares</caption>
            <tbody>
                <tr>
                    <td></td>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>DNI</th>
                    <th>Fecha de Nacimiento</th>
                </tr>
                
                <tr>
                    <th>1</th>
                        {% for dato in uno %}
                            <td>{{dato}}</td>
                        {% endfor %}
                    
                </tr>
                <tr>
                    <th>2</th>
                        {% for dato in dos %}
                            <td>{{dato}}</td>
                        {% endfor %}
                    
                </tr>
                <tr>
                    <th>3</th>
                        {% for dato in tres %}
                            <td>{{dato}}</td>
                        {% endfor %}
                    
                </tr>

            </tbody>
        </table>

</body>
</html>